<h1>Polly</h1>

<form>
  <div>
    <input type="text" name="text" placeholder="Text to speak" value="The quick brown fox jumps over the lazy dog" autofocus required>
  </div>
  <div>
    <button type="submit">Speak</button>
  </div>
</form>

<textarea rows="10" cols="50" readonly>
</textarea>

<audio></audio>
