<h1>Polly</h1>

<form>
  <fieldset>
    <label for="text">Text to speak</label>
    <input type="text" id="text" name="text" value="The quick brown fox jumps over the lazy dog" autofocus required>
  </fieldset>

  <fieldset>
    <label for="voice">Voice</label>
    <select id="voice" name="voice"></select>
  </fieldset>

  <fieldset>
    <button type="submit" disabled>Speak</button>
  </fieldset>
</form>

<hr>

<div>
  <label for="output">Output</label>
  <textarea id="output" rows="10" cols="50" readonly></textarea>
</div>

<audio></audio>
