<h1>Polly</h1>

<form>
  <input type="text" name="text" value='Why does this work? I drink a lot of coffee, so I was wondering how that might affect my health.'>
  <button type="submit">Synthesize</button>
</form>

<textarea rows="10" cols="50" readonly>
</textarea>

<audio id=player></audio>
